.listCustom {
  /* border: pink solid 3px; */
  height: 120px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
}

.listCustom::-webkit-scrollbar {
  display: none;
}
